html {
  box-sizing: border-box; }

body {
  margin: 0;
  color: #111;
  font-family: source-sans-pro, sans-serif;
  line-height: 1.75;
  overflow-y: scroll; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a {
  background-color: transparent; }

img {
  max-width: 100%;
  margin: 0 0 1rem;
  border: 0;
  border-radius: 5px; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.75rem; }

td,
th {
  padding: 0.25rem 0.5rem; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f5f5f5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: source-serif-pro, serif;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 0.75rem; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4,
h5,
h6 {
  font-size: 1rem; }

p,
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 1.5rem; }

p {
  text-align: justify; }

dl,
ol,
ul {
  text-align: left; }

a {
  color: #295cb9;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

pre, code {
  font-family: source-code-pro, monospace;
  font-size: 0.9em; }

code {
  color: #111;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 .15em; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f9f9f9; }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none; }

blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0 0.8rem -1.5rem;
  color: #777;
  border-left: 0.3rem solid #ccc; }
  blockquote p:last-child {
    margin-bottom: 0; }

button,
.btn {
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 85%;
  line-height: normal;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-transition: all 0.3s;
          transition: all 0.3s; }
  button::-moz-focus-inner,
  .btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
  button:hover, button:focus,
  .btn:hover,
  .btn:focus {
    color: #777;
    border: 1px solid #777;
    -webkit-transition: all 0.3s;
            transition: all 0.3s;
    text-decoration: none; }
  button:active,
  .btn:active {
    color: #111;
    border: 1px solid #111;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }

.header {
  margin: 3rem auto; }

.site-title {
  font-family: source-sans-pro, sans-serif;
  font-weight: lighter;
  font-size: 2.75rem;
  text-align: center; }
  .site-title a {
    color: #111; }
  .site-title a:hover {
    text-decoration: none; }

.container {
  *zoom: 1;
  width: auto;
  max-width: 44rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0 .5rem; }
  .container:before, .container:after {
    content: '';
    display: table; }
  .container:after {
    clear: both; }

.pagination {
  position: relative; }
  .pagination:before, .pagination:after {
    content: '';
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination .previous {
    float: left; }
  .pagination .next {
    float: right; }

.footer {
  color: #ccc;
  font-size: 14px;
  text-align: center;
  margin: 2rem 0 1rem; }
  .footer a {
    color: #777; }

.posts .post {
  padding: 0 1em;
  margin: 0 -1em; }
.posts .post:not(:last-of-type) {
  border-bottom: 1px solid #ccc; }

.post-title {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }
  .post-title a {
    color: #111; }

.post-date {
  color: #777;
  font-size: .9rem; }

.post-description {
  margin-top: .5rem;
  margin-bottom: 1.5rem; }

.post-content {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.footer p {
  text-align: center; }
